form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#returnToLogin, #submit {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#returnToLogin:hover, #submit:hover {
    background-color: #444;
}

#errorMessage {
    color: red;
    font-weight: bold;
}